/* ============================================= */
/*              Card                             */
/* ============================================= */
.card {
    max-width: 100%;
    border: 2px solid lightgrey;
    display: flex;
    align-items: center;
}