/* ============================================= */
/*              Images                           */
/* ============================================= */
.avatar {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin-right: .8em;
}
.modal-content img {
    margin-bottom: .6em;
    height: 6em;
    width: 6em;
}